@charset "UTF-8";

:root {
    --primary: rgb(231, 248, 165);
    --dark: rgb(22, 22, 22);
    --light: rgb(243, 250, 182);
    --shadow: 0 1px 5px rgba(104. 104, 104, 0.8);
}

.wrapper {
    display: grid;
    gap: 20px;
}

header {
    position: absolute;
    top: 30;
    left: 161;
    width: 2048;
    height: 150;
    z-index: 1;
    padding: 0px;
    border: #e2ff62 5px solid;
    background-color: #ffb1ab;
    background-image: url(../images/placeholder.jpg)
}

html {
    box-sizing: border-box;
    font-family:cursive;
    color: var(--dark);
}

body {
    background: rgba(43, 98, 105, 0.74);
    margin: 30px 50px;
    line-height: 1.4em;
    background-image: url('../images/placeholder.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.main-nav ul {
    display: grid;
    gap: 15px;
    padding: 0;
    list-style: none;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 1rem 1rem 1rem 1rem;
    background-image: url('../images/placeholder.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
    background-image: url('../images/placeholder.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
/*
body {
    margin: 0;
    height: 100vh;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9fr 2fr;
    grid-template-areas: "main1 main2" "footer footer";
    height: 100vh;
    gap: 10px;
    margin: 1em;    
}

section.main1 {
    grid-area: main1;
    background: rgb(129, 236, 255);
    background-image: url('../images/placeholder.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.main2 {
    grid-area: main2;
    background: #a3ffd1;
    background-image: url('../images/placeholder.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.footer {
    grid-area: footer;
    background: #eeb7f8;
    background-image: url('../images/placeholder.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

marquee{font-size:24px;}