@charset "UTF-8";
/*
:root {
    --primary: #fff099;
    --dark: #212935;
    --light: #a5f5f8;
    --shadow: 0 2px 8px #aaa257;
}
*/
:root {
    --primary: #e0f3ff;
    --dark: #182230;
    --light: #cefdff;
    --shadow: 0 1px 8px #787d81;
}
.wrapper {
    display: grid;
    gap: 20px;
}

header {
    position: absolute;
    top: 30;
    left: 161;
    width: 2048;
    height: 150;
    z-index: 1;
    padding: 0px;
    border: #e2ff62 5px solid;
    background-color: #ffb1ab;
}

html {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
}

body {
    background-image: url(../images/background\ placeholder.jpg);
    background-size: cover;
    margin: 30px 50px;
    line-height: 1.4em;
}

.main-nav ul {
    display: grid;
    gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    }

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 100px;
    grid-template-areas: "image1 image2 image3" "image4 image5 image6" "footer footer footer";
    box-shadow: var(--shadow);
    height: 100vh;
    margin: 2em;
}

/*section.header{
    grid-area: header;
    background-color: #b2ffab00;
    }

section.navi{
    grid-area: navi;
    background-color: #b2ffab;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}*/

section.image1{
    grid-area: image1;
    background-image:linear-gradient(to right, #216136, #68ee40, #64ecb8, #59f1f7, #3ea4e7, #286dee);
}
/*1e3a86*/
section.image2{
    grid-area: image2;
    background-color:#5400b4;
}
/*ecee67*/
section.image3{
    grid-area: image3;
    background-color:#4141ee;
}
/*921212*/
section.image4{
    grid-area: image4;
    background-color:#59a7ff;
}
/*44dfd7*/
section.image5{
    grid-area: image5;
    background-color:#6feeff;
}
/*4fad99*/
section.image6{
    grid-area: image6;
    background-color:#76ffe1;
}
/*834e8a*/
section.grid-footer {
    grid-area: footer;
    background-image: linear-gradient(to right, #5400b4, #4141ee, #59a7ff, #6feeff, #76ffe1);
}
/*87a6cf*/