@charset "UTF-8";

:root {
    --primary: linear-gradient(#e2f8ff, #8db2cf);
    --dark: linear-gradient(#717991 ,#0a121f);
    --light: #d9f1ff;
    --shadow: 0px 2.5px 6px #0f5064;
}

.wrapper {
    display: grid;
    gap: 20px;
}

.header {
    text-align: center;
    margin-bottom: 15px;
}

html {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--dark);
}

body {
    background: linear-gradient(#effcff, #55cfff, #2d65ff);
    margin: 30px 50px;
    line-height: 1.4em;
}

.main-nav ul {
    margin-top: 15px;
    display: grid;
    gap: 120px;
    padding: 0;
    list-style: none;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    }

.main-nav a {
    background: var(--dark);
    color: var(--light);
    display: block;
    text-decoration: none;
    padding: 0.805rem;
    text-align: center;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 16.4px;
}

.main-nav a:hover {
    box-shadow: #c5f3ff;
    background: var(--primary);
    color: var(--dark);
}

.grid-container {
    display: grid;
    grid-template-columns: 2.2fr 2.25fr 3fr;
    grid-template-rows: 2.3fr 2.8fr 100px;
    grid-template-areas: "main1 main1 main2" "main3 main4 main4" "footer footer footer";
    height: 100vh;
    gap: 8px;
    margin: 2em;
}

section.header {
    grid-area: header;
    background: linear-gradient(to right, #7cebff, #ffb1ab);
}

section.main1 {
    grid-area: main1;
    background: linear-gradient(to right, #73a4ff, #86ddff, #6affe6);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    box-shadow: var(--shadow);
}

section.main2 {
    grid-area: main2;
    background: linear-gradient(to right, #c2ffaa, #91be64);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    box-shadow: var(--shadow);
}

section.main3 {
    grid-area: main3;
    background-image:url(../images/placeholder.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    box-shadow: var(--shadow);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

section.main4 {
    grid-area: main4;
    background: linear-gradient(to right, #fff459, #ffcd70, #ff93df);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    box-shadow: var(--shadow);
}

section.footer {
    grid-area: footer;
    background: linear-gradient(to right, #7d7d73, #cacac1, #7d7d75);
    box-shadow: var(--shadow);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

p {
    color: #182230;
    font-size:20px;
    margin: 10px;
}